.top_page_image {
  width: 100vw;
  text-align: center;
}

.top-page-image {
  position: relative;
  background-color: lightgreen;
  width: 90vw;
  height: 100vh;
}

.top_page_image>ul {
  position: absolute;
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Sawarabi Gothic', sans-serif;
  top: 80vh;
  left: 5vw;
}

.new-content {
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 50px 0;
  font-size: 2em;
  color: black;
  width: 100vw;
  text-align: center;
  background: linear-gradient(transparent 70%, #a6ce39 70%);
}

.main_content {
  position: relative;
  width: 100vw;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.slide-paused:hover .slideshow {
  animation-play-state: paused;
}

.slideshow {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.list {
  margin-left: 2rem;
}

.content-hover {
  transition: all 0.2s;
}

.content-hover:hover {
  transform: translateY(-20px);
  border-radius: 0 10%;
  box-shadow: 0 3px 10px 0 #333;
  opacity: 0.8;
  cursor: pointer;
}

.item-img {
  width: 33vw;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}
